<header class="w-full h-24 bg-white-1 dark:bg-grey-3">
  <div class="flex justify-between h-full">
    <div
      [ngClass]="[
        'flex justify-center items-center mr-8 transition-all duration-300',
        isSidebarOpen() ? '' : ' ml-8',
      ]"
    >
      @if (!isSidebarOpen()) {
        <div
          class="border-r dark:border-grey-4 border-grey-6 h-full flex justify-center items-center"
        >
          <img
            [src]="getThemeLogoSrc()"
            alt="logo"
            class="h-[26px] w-[152px] mr-8"
          />
        </div>
      }

      <h1
        [ngClass]="[
          'text-heading-xl font-heading-xl dark:text-white-1 transition-all duration-300',
          isSidebarOpen() ? 'ml-6' : 'ml-8',
        ]"
      >
        Board Name Placeholder
      </h1>
    </div>
    <div
      class="flex h-12 w-48 justify-center items-center gap-6 mr-8 mt-5 mb-5"
    >
      <app-button
        buttonType="primary-l"
        text="+ Add New Task"
        class="w-40"
      ></app-button>
      <img
        src="/assets/images/icon-vertical-ellipsis.svg"
        class="w-[5px] h-5"
        alt="more-options"
      />
    </div>
  </div>
</header>
