<button
  [ngClass]="[
    'font-sans text-center rounded-full w-full',
    buttonType === 'secondary'
      ? 'bg-purple-1 bg-opacity-10 dark:bg-white text-body-m font-heading-s h-12 text-purple-1 hover:bg-opacity-25'
      : '',
    buttonType === 'destructive'
      ? 'bg-red-1 text-body-m font-heading-s h-12 text-white-1 hover:bg-red-2'
      : '',
    buttonType === 'primary-l'
      ? 'bg-purple-1  text-heading-l font-heading-l h-12 text-white-1 hover:bg-purple-2'
      : '',
    buttonType === 'primary-sm'
      ? 'bg-purple-1 text-body-m font-heading-s h-10 text-white-1 hover:bg-purple-2'
      : '',
  ]"
  type="button"
>
  <span>{{ text }}</span>
</button>
