<div class="relative inline-block w-full">
  <select
    name="column-dropdown"
    class="dark:bg-grey-3 dark:text-white-1 p-4 border border-grey-5/25 focus:outline-purple-1 bg-transparent appearance-none w-full text-body-m"
  >
    @for (option of options(); track option) {
      <option
        [value]="option"
        class="text-grey-5 dark:bg-grey-2 dark:text-grey-5"
      >
        {{ option }}
      </option>
    }
  </select>

  <span
    class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none"
  >
    <img
      src="assets/images/icon-chevron-down.svg"
      alt="dropdown"
      width="10"
      height="7"
    />
  </span>
</div>
<!-- lets brainstorm -->
<!-- I do think that we need to make the number of options based on an input. Meaning that the number of option
  depends on the number of columns in the board so maybe an object -->
